<tr id="request-<%= approve.id%>">
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= approve.item.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= approve.item.price %>
  </td>
  <td class="budget">
    <%= approve.reason %>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <i class="bg-warning"></i>
      <span class="status"><%= approve.status %></span>
    </span>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <span class="completion mr-2"><%= approve.type_request %></span>
    </div>
  </td>
</tr>
